{{define "leaderBoard"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/src/mainMenu.css">
</head>
<body>
    <div class="container">
        <h1 class="centred">Tableau des scores</h1>
        <table class="centred">
            <tr class="centred">
                <th class="centred">Nom</th>
                <th class="centred">Score</th>
            </tr>
            {{range .LeaderboardEntries}}
            <tr class="centred">
                <td class="centred">{{.Name}}</td>
                <td class="centred">{{.Score}}</td>
            </tr>
            {{end}}
        </table>
        <form class="centred" action="/" method="POST"> <button class="button" role="button" type="1Player">Retour</button> </form>
    </div>
</body>
</html>
{{end}}